<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="SuppressMetaverseObjectTypeConfigSection" value="false"/>
    <add key="SuppressConnectorImportExportEndToEndFlows" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="AADConnectSyncDocumenterConsole" switchValue="Information">
        <listeners>
          <add name="AADConnectSyncDocumenterConsole" type="System.Diagnostics.ConsoleTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="AADConnectSyncDocumenterLog" switchValue="Information">
        <listeners>
          <add name="AADConnectSyncDocumenterLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="AADConnectSyncDocumenter.log">
            <filter type=""/>
          </add>
          <add name="AADConnectSyncDocumenterLog-Error" type="System.Diagnostics.TextWriterTraceListener" initializeData="AADConnectSyncDocumenter-Error.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
